# Python-specific ignores
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env/

# Virtual environments
venv/
venv/*

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Streamlit cache
.streamlit/

# Logs
*.log
*.txt
!requirements.txt

# OS-specific ignores
.DS_Store
Thumbs.db
